@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lora', serif;
}
header{
    padding: 25px;
}
section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#title{
    color: #19057f;
    letter-spacing: 1.5px;
    text-align: center;
}
.div-form{
    border: 1px solid black;
    width: 40%;
    padding: 20px;
    border-radius: 8px; 
}
.form-group{
    /*border: 1px solid #7289da;*/
    margin: 10px 0px;
}
.form-control{
    position: relative;
    border: 1px solid #7289da;
    width: 100%;
    height: 100%;
}
.form-control input{
    width: 100%;
    border: 0;
    outline: none;
    padding: 10px;
    padding-left: 50px;
}
.icon-form{
    position: absolute;
    height: 100%;
    width: 40px;
    background-color: #7289da;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}
#name-icon{
    background-image: url('images/book.png');
}
#auteur-icon{
    background-image: url('images/writer.png');
}
#edition-icon{
    background-image: url('images/edit.png');
}
#page-icon{
    background-image: url('images/page.png');
}
#btn-ajout{
    display: inline-block;
    width: 100%;
    border: 0;
    background-color: #7289da;
    padding: 8px 0px;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease-in;
}
#btn-ajout:hover{
    background-color: #39138b;
}
.div-table, .div-form{
    margin-top: 25px;
}
.div-table{
    width: 60%;
}
table{
    width: 100%;
    border-collapse: collapse;

}
td, th{
    padding: 12px;
    text-align: left;
}
th{
    border-bottom: 1px solid #39138b;
}
/*tbody tr:nth-child(odd){
    background-color: rgba(211, 211, 211, 0.75);
}*/
.btn-delete{
    padding: 3px;
    border: 1px solid #2c2f33;
    border-radius: 2px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}
.img-event{
    pointer-events: none;
}
.anim-delete{
    transform: translateX(-80px);
    opacity: 0;
    transition: all 0.5s ease-in;
}

@media (max-width: 576px) {
    body{
        padding: 10px;
    }
    .div-form{
        width: 100%;
    }
    .div-table{
        width: 90%;
        overflow: scroll;
    }
    table{
        width: 100%;
        overflow: scroll;
    }
    th, td{
        padding: 10px 25px;
    }
}